<h2>map</h2>
<div id='map'></div>

<style>
#map{
  height: 500px;
}
</style>

<script>
// ログインユーザー本人の位置を定義
let your = { lat: <%=current_user.latitude %>, lng: <%=current_user.longitude %> };

// マップを生成
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
    center: your, //マップの中心
    zoom: 10, //マップの解析度
    mapTypeControl: false, //オプション
    streetViewControl: false //オプション
  });

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  // 複数マーカーの作成
  <% @users.each do |user| %>
  (function() {
    let marker = new google.maps.Marker({
      position: {lat: <%= user.latitude %>, lng: <%= user.longitude %>},
      map: map,
    });
  })();
  <% end %>
}
</script>

<%# googleMapsAPIkey情報 %>
<script async defer 
src="https://maps.googleapis.com/maps/api/js?key= <%= ENV['GOOGLE_MAP_API_KEY'] %> &callback=initMap">
</script>