<div class="container map-page d-flex">
  <div class="sidebar">
    <div class="list-name">
      <h6>登録済みユーザー</h6>
    </div>
    <div class="nearlist">
      <% @users.each do |user| %>
        <div class="nearlist__block">
          <div class="nearlist__block__username">
            <% if user.username == current_user.username %>
              <p class = "nearlist__block__username__myname">あなたです</p>
            <% else %>  
              <%= link_to user.username, user_path(user.id), class: "nearlist__block__username__link" %>
            <% end %>  
          </div>
          <div class="nearlist__block__useraddress">
            <p><%= user.address %></p>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
  <div id='map'></div>
</div>
<style>
#map{
  height: 600px;
  width: 800px;
}
</style>

<script>
// ログインユーザー本人の位置を定義
let your = { lat: <%=current_user.latitude %>, lng: <%=current_user.longitude %> };

// マップを生成
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
    center: your,               //マップの中心
    zoom: 11,                   //マップの解析度
    mapTypeControl: false,      //オプション
    streetViewControl: false    //オプション
  });


  // ユーザー情報の入手
  <% @users.each do |user| %>
  (function() {

    // 吹き出しに表示する文
    let contentString = 
      '<div>'+
      '<a href="/users/<%= user.id %>">'+
      '<p>'+
      '<%= user.username %>さん'
      '</p>'+
      '</div>';

    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    // 複数マーカーの記述
    let marker = new google.maps.Marker({
      position: {lat: <%= user.latitude %>, lng: <%= user.longitude %>},
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  })();
  <% end %>
}
</script>

<%# googleMapsAPIkey情報 %>
<script async defer 
src="https://maps.googleapis.com/maps/api/js?key= <%= Rails.application.credentials.googlemap[:GOOGLE_MAP_API_KEY] %> &callback=initMap">
</script>