<h2>gmap</h2>
<%=  current_user.address %>
<div id='map'></div>

<style>
#map{
  height: 500px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
//latが緯度、lngが経度を示します
//centerがマップの中心になる（予定はユーザー現在地を取得）
  center: {lat: <%=current_user.latitude %>, lng: <%=current_user.longitude %> },
  zoom: 10,
// オプションがあるならここに
  mapTypeControl: false,
  streetViewControl: false
  });
//positionに指定した座標にピンを表示させます
  marker = new google.maps.Marker({
    position:  {lat: <%=current_user.latitude %>, lng: <%=current_user.longitude %> },
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key= <%= ENV['GOOGLE_MAP_API_KEY'] %> &callback=initMap" async defer></script>