<div class="container profile">
  <div class="card mx-auto" style="width: 40rem; ">
    <div class="card-body">
      <h1 class="card-title"><%= @user.username %></h1>
      <h5 class="card-subtitle mb-2 text-muted"><p><%= @user.address %></p></h5>
      <p class="card-text"><p><%= @user.introduction %></p></p>
      <% if current_user.id == @user.id %>
        <%= link_to "会員登録情報の修正", edit_user_registration_path, class: "card-link btn btn-primary" %>
      <% else %>
        <% if @isRoom == true %>
          <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class: "card-link btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>