<!DOCTYPE html>
<html>
  <head>
    <title>AgriHelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #544a2e;">
        <a class="navbar-brand" href="/">Agri help</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%=  link_to("マイページ", "#", {class: "nav-link"}) %>
              </li>
              <li class="nav-item">
                <%=  link_to("助っ人を探す", maps_path, {class: "nav-link"}) %>
              </li>
              <li class="nav-item">
                <%=  link_to("チャット", "#", {class: "nav-link"}) %>
              </li>
              <li class="nav-item">
                <%=  link_to("ログアウト", destroy_user_session_path, {method: "delete", class: "nav-link"}) %>
              </li>
            <% else %>
              <li class="nav-item">
                <%=  link_to("会員登録", new_user_registration_path, {class: "nav-link"}) %>
              </li>
              <li class="nav-item">
                <%=  link_to("ログイン", new_user_session_path, {class: "nav-link"}) %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
    <%# <footer class="footer">
      <p class="copyright">&copy; 2020 DK</p>
    </footer> %>
  </body>
</html> 